<!DOCTYPE html>
<html>
<head>
    <title>Whats Cookin'?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .item {
            border: 1px solid lightgray;
            margin-bottom: 15px;
            padding: 10px;
        }  
    </style>
</head>

<body>
    <h1><center>Menu</center></h1>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">  <button id="refreshButton" class="btn btn-primary">Refresh</button>
            </div>
        </div>
    </div>

    <div class="space-embed"></div>
    <!--Recipe 1-->
    <div class="row mx-5 my-2">
        <div class="card mb-3">
            <img src="{{d1Image}}" class="card-img-top" alt="food-img">
            <div class="card-body">
                <h5 class="card-title">d1Name</h5>
                <p class="card-text">Recipe:{{d1Recipe}}\nInstructions:{{d1Instructions}}</p>
            </div>
        </div>
    </div>
    <div class="space-embed"></div>

    <!--Recipe 2-->
    <div class="row mx-5 my-2">
        <div class="card mb-3">
            <img src="{{ d2Image }}" class="card-img-top" alt="food-img">
            <div class="card-body">
                <h5 class="card-title">d2Name</h5>
                <p class="card-text">Recipe:{{d2Recipe}}\nInstructions:{{d2Instructions}}</p>
            </div>
        </div>
    </div>
    <div class="space-embed"></div>
    <!-- Recipe 3 -->
    <div class="row mx-5 my-2">
        <div class="card mb-3">
            <img src="{{ d3Image }}" class="card-img-top" alt="food-img">
            <div class="card-body">
                <h5 class="card-title">d3Name</h5>
                <p class="card-text"> Recipe:{{d3Recipe}}\nInstructions:{{d3Instructions}}</p>
            </div>
        </div>
    </div>
    <div class="space-embed"></div>
    <div class="space-embed"></div>
    <div class="space-embed"></div>

     <!-- sticky bottom nav -->

     <div class="container-fluid mt-3">
        <div id="bottomNav" class="stickyBottomNav">
          <div class="d-flex justify-content-between">
            <!-- home -->
            <div class="col-md-3 col-sm-6"> 
              <a href="\"><img src="{{ url_for('static', filename='imgs/home.svg') }}" alt="Home" class="btn-img"></a> 
            </div>
            <!-- pantry -->
            <div class="col-md-3 col-sm-6">
              <a href="/pantry"><img src="{{ url_for('static', filename='imgs/pantry_icon.svg') }}" alt="Pantry" class="btn-img"></a>
            </div>
            <!-- menu -->
            <div class="col-md-3 col-sm-6">
              <a href="/dishes"><img src="{{ url_for('static', filename='imgs/menu.svg') }}" alt="Menu" class="btn-img"></a>
            </div>
            <!-- logout -->
            <div class="col-md-3 col-sm-6">
              <a href="/logout"><img src="{{ url_for('static', filename='imgs/exit.svg') }}" alt="Log Out" class="btn-img"></a>
            </div>
          </div>
        </div>
      </div>


    <script>
    document.getElementById('refreshButton').addEventListener('click', function() {
        location.reload(); // Reloads the current page
    });
    </script>
</body>
</html>