<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Little Chef</title>

          <!--boostrap initialization-->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          
          <!-- link files -->
          <link rel="stylesheet"  type="text/css"  href="{{ url_for('static', filename='styles/index.css') }}"/>
          <script src="js/index.js"></script>
</head>
 
<body>
    <!-- little chef title -->
    <header class="text-center my-auto">
      little chef!
    </header>
    <h3 class="text-center my-auto">
      BIG TASTE!!
    </h3>
    <!-- chef mascot img -->
    <div class="image text-center">
      <img src="imgs/placeholder.svg" alt="Chef Mascot">
    </div>
    
    <!-- sticky bottom nav -->

      <div class="container-fluid mt-3">
        <div id="bottomNav" class="stickyBottomNav">
          <div class="d-flex justify-content-between">
            <!-- home -->
            <div class="col-md-3 col-sm-6"> 
              <a href="home.html"><img src="imgs/placeholder.svg" alt="Home" class="btn-img"></a> 
            </div>
            <!-- pantry -->
            <div class="col-md-3 col-sm-6">
              <a href="pantry.html"><img src="imgs/placeholder.svg" alt="Pantry" class="btn-img"></a>
            </div>
            <!-- menu -->
            <div class="col-md-3 col-sm-6">
              <a href="dishes.html"><img src="imgs/placeholder.svg" alt="Menu" class="btn-img"></a>
            </div>
            <!-- profile -->
            <div class="col-md-3 col-sm-6">
              <a href="profile.html"><img src="imgs/placeholder.svg" alt="Profile" class="btn-img"></a>
            </div>
          </div>
        </div>
      </div>

    <!-- bottom footer -->
    <!-- <div id="footer" class="footer">
      <p>footer</p>
    </div> -->

</body>
</html>
